# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
.env*
.tmp
dist
ui
^ui/index.html
tests/data/*
!tests/data/assets
debug.log
yao-test
dev.sh
logs
logs/application.log
yao-arm64
tests/db/yao.db
env.*.sh
xgen/v0.9/*
xgen/v1.0/*
!xgen/v0.9/index.html
!xgen/v1.0/index.html
!xgen/v1.0/umi.js
!xgen/v1.0/layouts__index.async.js
!pipe/ui
*-unit-test
docker/build/test
db
*.sh