[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium
Comment=Access the Internet
GenericName=Web Browser
Exec=/usr/local/bin/chromium %U
Icon=org.xfce.webbrowser
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
